<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="ReportService2005" value="http://WIBR001505/ReportServer/ReportService2005.asmx"/>
    <add key="ReportExecution2005" value="http://WIBR001505/ReportServer/ReportExecution2005.asmx"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="RGSServer" connectionString="Data Source=wibr001505\MSSQLRS;Initial Catalog=RGS;User ID=sa;Password=administrador" providerName="System.Data.SqlClient"/>-->
    <add name="RGSServer" connectionString="Data Source=wibr001505\MSSQLRS;Initial Catalog=RGS;Trusted_Connection=Yes;" providerName="System.Data.SqlClient" />

    <!--<add name="RGSServer" connectionString="Data Source=wibr001505\MSSQLRS;Initial Catalog=RGSfs;User ID=sa;Password=administrador" providerName="System.Data.SqlClient"/>-->
    <add name="fileStreamServer" connectionString="Data Source=wibr001505\MSSQLRS;Initial Catalog=RGSfs;Trusted_Connection=Yes;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
